.registerFormBlock{
    margin-top: 150px !important;
    margin-bottom: 150px !important;

}

@media (min-width:768px) {
    .registerForm{
        width: 50% !important;
    }
}

@media (min-width:992px) {
    .registerForm{
        width: 30% !important;
    }
}
