
.properties{
    margin: 20px 0px 0px 0px;
    display: flex;
}

@media (min-width: 600px) {
    .cards { grid-template-columns: repeat(2, 1fr); }
}
@media (min-width: 900px) {
    .cards { grid-template-columns: repeat(4, 1fr); }
}

.cards {
    max-width: 90%;
    margin: 0 auto;
    display: grid;
    gap: 1rem;
}

.card{
    box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
    cursor: pointer;
    &:hover{
        box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    }
}

.card-metadata{
    display: flex;
}

.left{
    width: 50%;
    text-align: left;
}

.right{
    text-align: right;
    width: 50%;
    justify-content: right;
}

.card-title{
    display: flex;
}