.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

a{
  text-decoration: none;
}
/* ================================================================================= */
/* TOP MENUBAR */
/* ================================================================================= */

.menu{
  /* padding: 5px 5px 5px 0px; */
  display: flex;
  height: 80px;
  background-color:whitesmoke;
}


.logoClass{
  width: 100%;
  margin: 20px 0px 20px 20px;
  align-items: left;
}

@media (min-width: 900px) {
  .logoClass{
      width: 20%;
      margin: 20px 0px 20px 50px;
      align-items: left;
  }
}

@media (min-width: 700px) {
  .menu{
      height: 120px;
  }
  .logoClass{
      width: 30%;
      margin: 20px 0px 20px 50px;
      align-items: left;
  }
}

.dropdown{
  padding: 20px;
  width: 80%;
  text-align: right;
}

/* ================================================================================= */
/* Login */
/* ================================================================================= */
.loginFormBlock{
  /* display: flex;
  width: 100%;
  justify-content: center; */
}

.loginForm{
  /* padding: 20px 0px 20px 0px;
  width: 20%; */
}

/* ================================================================================= */
/* Register */
/* ================================================================================= */
.registerFormBlock{
  display: flex;
  justify-content: center;
}

.registerForm{
  padding: 20px 0px 20px 0px;
  width: 20%;
}

/* ================================================================================= */
/* Upload Property */
/* ================================================================================= */

.prop_upload_topmenu{
  display: flex;
}

.prop_type_radio{
  margin: 20px 10px 0px 20px;
  width: 25%;
}

.house_type_radio{
  margin: 20px 10px 0px 20px;
  width: 25%;
}

.amenities{
  display: flex;
}

.form-check, .form-label{
  margin: 0px 10px 0px 10px;
}

.fee-block{
  display: flex;
}

.fromDateClass, .toDateClass, #fromDate, #toDate{
  margin: 10px;
}

.nightlyFeeBlock, .cleaningFeeBlock, .taxBlock{
  width: 100%;
  margin: 10px;
  display: flex;
}

#totalNightlyFee, #taxFee, #cleaningFee{
  width: 50%;
}

.nightlyFeeLabel, .taxFeeLabel, .cleaningFeeLabel, .fromDateLabel, .toDateLabel{
  width: 50%;
}

#submit-reserve{
  margin: 20px 0px 20px 0px;
  width: 100%;
}
/* ================================================================================= */
/* Reserve */
/* ================================================================================= */
.reserveCard{
  margin: 20px;
  padding: 20px;
  border: 1px solid grey;
  float: right;
}

/* ================================================================================= */
/* Greetings */
/* ================================================================================= */

.reserve-props{
  border: 2px solid grey;
  width: 50%;
}

.booking-details-head{
  display: flex;
  padding: 20px;
}

.booking-details-head .prop-image{
  width: 40%;
}

.prop-image img{
  width: 100%;
}

.booking-details{
  padding: 0px 20px 0px 20px;
  width: 80%;
}

.duration-stay-from, .duration-stay-to, .feedback-rating, .feedback-comment{
  display: flex;
}

.fromDate, #inputFromDate, .toDate, #inputToDate, .rating, #inputRating, .comment, #inputComment{
  width : 50%;
  margin: 10px;
}

.post-button-reserve-class{
  width: 100%;
  display: flex;
}

.post-button-reserve{
  width: 15%;
  float: center;
}


/* ================================================================================= */
/* FavProps */
/* ================================================================================= */

.addToFavLink {
  /* font-family: "Sentinel A","Sentinel B",Georgia,serif;  */
  text-shadow: 0 1px 1px rgba(0,0,0,0.4);
  background: #4383c5;
  color: #FFF;
  padding: 6px 20px 7px; 
  font-size: 18px;
  line-height: 23px;
  min-width: 50px;
  text-align: center;
  text-decoration: none;
  vertical-align: middle; 
  border: 1px solid 4383c5;
  cursor: pointer;
  font-weight: 600px; 
  transition: opacity 0.1s ease-out,background 0.1s ease-out;
  /* -webkit-border-radius: 2px; */
  -webkit-box-shadow: inset 0 1px 0 rgba(255,255,255,0.3),0 1px 3px rgba(0,0,0,0.4);
  box-shadow: inset 0 1px 0 rgba(255,255,255,0.3),0 1px 3px rgba(0,0,0,0.4);
  -webkit-transition: opacity 0.1s ease-out,background 0.1s ease-out;
}

.addToFavLink:hover
{
  background-color: #356fac; 
}


/* ================================================================================= */
/* FOOTER */
/* ================================================================================= */

.bottom-footer{
  background-color: whitesmoke;
  height: 35px;
  display: flex;
  align-items: center;
}

.currency{
  justify-content: right;
  align-items: right;
  width: 10%;
}

/* ================================================================================ */
/* From Assignment2 */
/* ================================================================================ */

.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

body{
  background-color: whitesmoke;
}

a{
  text-decoration: none;
}

/* ================================================================================= */
/* TOP MENUBAR */
/* ================================================================================= */

.menu{
  /* padding: 5px 5px 5px 0px; */
  display: flex;
  height: 80px;
  background-color:whitesmoke;
}

.logoClass{
  width: 100%;
  margin: 20px 0px 20px 20px;
  align-items: left;
}

@media (min-width: 900px) {
  .logoClass{
      width: 20%;
      margin: 20px 0px 20px 50px;
      align-items: left;
  }
}

@media (min-width: 700px) {
  .menu{
      height: 120px;
  }
  .logoClass{
      width: 30%;
      margin: 20px 0px 20px 50px;
      align-items: left;
  }
}

.dropdown{
  padding: 20px;
  width: 80%;
  text-align: right;
}

/* ================================================================================= */
/* JUMBOTRON */
/* ================================================================================= */
.jumbotron {
  /* background-image: url("https://drive.google.com/file/   */
  background-size: cover;
}

.searchBox{
  height: 500px;
  display: flex;
  /* background-image: url("../public/Jumbotron.jpg"); */
  background-size: cover;
  justify-content: center;
  align-items: center;
}

@media (min-width: 500px) {
  .input-seach-parent{
      width: 70%;
  } 
}
@media (min-width: 900px) {
  .input-seach-parent{
      width: 60%;
  }
}

.input-seach-parent{
  padding: 20px;
  width: 70%;
}

/* ================================================================================= */
/* PROPERTIES */
/* ================================================================================= */

.properties{
  margin: 20px 0px 0px 0px;
  display: flex;
}

.propertyTitle h1{
  padding: 10px;
  font-weight: 400;
  text-align: center;
}

.properties img{
  width: 200px;
  height: 300px;
}



@media (min-width: 600px) {
  .cards { grid-template-columns: repeat(2, 1fr); }
}
@media (min-width: 900px) {
  .cards { grid-template-columns: repeat(4, 1fr); }
}

.cards {
  max-width: 1200px;
  margin: 0 auto;
  display: grid;
  gap: 1rem;
}

.card-metadata{
  display: flex;
}

.card-metadata .price{
  width: 50%;
  text-align: left;
}

.card-metadata .rating{
  text-align: right;
  width: 50%;
  justify-content: right;
}

/* ================================================================================= */
/* SPECIFIC PROPERTY */
/* ================================================================================= */
.titleAndRating{
  display: flex;
  padding: 10px;
  align-items: center;
  align-content: center;
}

.title{
  width: 50%;
  text-align: left;
}

.rating{
  width: 50%;
  text-align: right;
}

.description{
  font-size: 1.4rem;
}

.totalCost{
  display: flex;
  justify-content: center;
  line-height: 2;
}

@media (min-width: 700px) {
  .onePropBlock{
    margin: 30px;
  }
  
  .titleAndPhotos{
    width: 100%;
  }
  
  .totalCost{
    width: 20%;
  }
  
  .photosAndDesc{
    display: flex;
  }
  
  .pictures{
    padding: 20px;
    width: 50%;
    justify-items: center;
  }
  
  .description{
    font-size: 1.4rem;
    width: 50%;
  }
  
  .nightlyFreeAndRating{
    display: flex;
    width: 100%;
  }
  
  .cleaningFee,
  .totalFee{
    width: 100%;
  }
  
  .card-body{
    font-size: 1.1rem;
  }
  
  .card-title{
    font-size: 1.5rem;
  }
  
  .totalCost{
    width: 100%;
  }
  .totalCost .card{
    display: flex;
    justify-items: center;
  }
}

@media (min-width: 1200px) {
  .onePropBlock{
    margin: 30px;
    display: flex;
  }
  
  .titleAndPhotos{
    width: 80%;
  }
  
  .totalCost{
    width: 20%;
  }
  
  .photosAndDesc{
    display: flex;
  }
  
  .pictures{
    width: 50%;
    justify-items: center;
  }
  
  .description{
    font-size: 1.4rem;
    width: 50%;
  }
  
  .nightlyFreeAndRating{
    display: flex;
    width: 100%;
  }
  
  .cleaningFee,
  .totalFee{
    width: 100%;
  }
  
  .card-body{
    font-size: 1.1rem;
  }
  
  .card-title{
    font-size: 1.5rem;
  }
  
  .totalCost .card{
    height: 300px;
  }
}